stadiumTripFlaskApi/stadiumTrip/scratch.py
stadiumTripFlaskApi/stadiumTrip/config/Secrets.py

stadiumTripFlaskApi/stadiumTrip/sqlScripts/tables.sql
stadiumTripFlaskApi/stadiumTrip/sqlScripts/tableValues.sql
stadiumTripFlaskApi/stadiumTrip/sqlScripts/views.sql